$color-primary: rgba(0, 126, 229, 1);
$color-primary-text: rgba(255, 255, 255, 1);

$color-text-primary: rgba(0, 126, 229, 1);
$color-text-secondary: #333;
$color-text-danger: rgba(187, 56, 37, 1);

$pagination__active: rgba(0,0,0,.2);
$pagination__inactive: rgba(0,0,0,8);



html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  background-color: #bbb;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-touch-callout: none;
  user-select: none;
}

h2 {
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}




.flex {
  display: flex;
}

  .flex--x {
    flex-direction: row;
  }

  .flex--y {
    flex-direction: column;
  }

  .flex--sb {
    justify-content: space-between;
  }

  .flex--sa {
    justify-content: space-around;
  }

  .flex--c {
    justify-content: center;
    align-items: center;
  }

  .flex--xl {
    margin-right: auto;
  }

  .flex--xr {
    margin-left: auto;
  }

  .flex--xc {
    margin-left: auto;
    margin-right: auto;
  }

  .flex--yt {
    margin-bottom: auto;
  }

  .flex--yb {
    margin-top: auto;
  }

  .flex--yc {
    margin-top: auto;
    margin-bottom: auto;
  }

  .flex--max {
    flex: 1;
  }

  .flex--min {
    flex: 0;
  }


#009


.button {
  background-color: transparent;
  border: 0;
  padding: 20px;
  font-size: inherit;
  text-transform: uppercase;
  font: inherit;
  line-height: 1;
  color: $color-text-secondary;
}

  .button--primary {
    color: $color-text-primary;
  }



.selectorX {
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #999
}

$transparent: rgba(255, 255, 255, 0);
$scale-back-color: rgba(255, 255, 255, 1);
$scale-whole-color: #d3d3d3;
$scale-fraction-color: #eee;
$scale-arrow-color: rgba(0, 126, 229, 1);

.selector {
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
  margin: 20px 0;

  background: linear-gradient(
    $transparent,
    $transparent calc(100% - 2px),
    $scale-fraction-color calc(100% - 2px),
    $scale-fraction-color 100%
  ),
  repeating-linear-gradient(
    90deg,
    $transparent,
    $transparent calc(20% - 2px),
    $scale-fraction-color calc(20% - 2px),
    $scale-fraction-color 20%
  );

  background-size: 100% 25px;
  background-position: 40px bottom;
  background-repeat: repeat-x;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 2px;
    height: 35px;
    background-color: $scale-arrow-color;
  }
}

  .selector__unit {
    position: relative;
    width: 20%;
    float: left;
    padding: 0 0 10px;
    text-align: center;
    color: #333;
  }





.list {
}

  .list__item {
    font-size: 20px;
    line-height: 1;
    padding: 15px 20px;
    width: 100%;
    display: block;

    &:nth-of-type(odd) {
      &::before {
        position: absolute;
        display: block;
        content: '';
        height: 50px;
        width: 100vw;
        // top: 0;
        margin-top: -15px;
        left: 0;
        background-color: rgba(0,0,0,.03);
      }
    }
  }





.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  line-height: 1.5;
  background-color: #fff;
  will-change: transform;
}

  .page--shadow {
    &::after {
      content: '';
      position: absolute;
      width: 4px;
      pointer-events: none;
      height: 100%;
      top: 0;
      left: -4px;
      border-left: 4px solid rgba(0,0,0,.1);
    }
  }

  .page--smooth {
    transition: transform 200ms ease-out;
  }

.noEvent {
  .page {
    pointer-events: none;
  }
}


















// @keyframes popout {
//   0% {
//     transform: rotateY(0deg);
//   }

//   50% {
//     transform: rotateY(90deg) perspective(400px);
//   }

//   100% {
//     transform: rotateY(180deg);
//   }
// }

// .active {
//   transform-origin: 50% 50%;

//   animation-duration: 700ms;
//   animation-name: popout;
//   animation-fill-mode: forwards;
//   // animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
// }


// .page--index {

// }

// .page--hours {
//   background-color: orange;
// }

// .page--mileage {
// }

  // .page__section {
  //   text-align: center;
  //   display: flex;
  //   justify-content: center;
  //   min-height: 3rem;
  // }


// .icon {
//   height: 24px;
// }

// .button {
//   border: 0;
//   background-color: inherit;
//   font: inherit;
//   text-transform: uppercase;
//   font-weight: 500;
//   line-height: 1;
//   padding: 1rem;
//   margin: 0;
//   border-radius: 2px;
//   color: $color-text-secondary;

//   &:hover,
//   &:active {
//     color: #fff;
//   }

//   &:hover {
//     opacity: .8;
//   }

//   &:focus {
//     outline: none;
//   }
// }

//   .button--primary {
//     color: $color-text-primary;
//   }

//   .button--danger {
//     color: $color-text-danger;
//   }

//   .button--fill-x {
//     width: 100%;
//   }

//   .button--r {
//     margin-left: auto;
//   }

//   .button--l {
//     margin-right: auto;
//   }






// .page {
//   position: absolute;
//   left: 10000px;
//   top: 10000px;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   transform: translateZ(0px);
// }

//   .page--options {
//   }

//   .page__section {
//     position: relative;
//     width: 100%;
//     overflow: hidden;
//     display: flex;
//     justify-content: center;
//   }

//   .page__section--pad-bottom {
//     padding-bottom: 20%;
//   }

//  // DEBUG
// .active {
//   top: 0;
//   left: 0;
// } // DEBUG








// .pagination {
//   position: absolute;
//   left: 50%;
//   margin-left: -42px;
//   top: 3px;
//   padding: 10px;
// }

//   .pagination__indicator {
//     display: inline-block;
//     width: 8px;
//     height: 8px;
//     border-radius: 100%;
//     margin: 0 5px;
//     background-color: $pagination__active;
//   }

//   .pagination__indicator--active {
//     background-color: $pagination__inactive;
//   }



// .report-list {
//   height: 100%;
// }

//   .report-list__viewport {
//     position: relative;
//     height: 100%;
//     width: 100%;

//     &::before,
//     &::after {
//       content: '';
//       position: absolute;
//       left: 25px;
//       right: 25px;
//       height: 12px;
//       border-radius: 100%;
//       box-shadow: 0 0 10px rgba(0,0,0,.1);
//     }

//     &::before {
//       margin-top: -12px;
//       top: 0;
//     }

//     &::after {
//       margin-bottom: -12px;
//       bottom: 0;
//     }
//   }

//   .report-list__items {
//     position: relative;
//     padding: 10px 0;
//   }

//   .report-list__item {
//     text-align: center;
//     margin: 0 2rem;
//     padding: 10px 0;
//     line-height: 1;
//   }








  // .page__section--list-bottom {
  //   padding-top: 10px;

  //   &::after {
  //     content: '';
  //     position: absolute;
  //     left: 10%;
  //     right: 10%;
  //     top: 0;
  //     z-index: -1;
  //     height: 20px;
  //     border-radius: 100%;
  //     box-shadow: 0 0 10px rgba(0,0,0,.2);
  //   }
  // }
